/* 
    Generic Animations

    Author: https://github.com/jxmot
    Repository: https://github.com/jxmot/github-feeds
*/
.icon-animate-spiny {
    -webkit-animation: icon-spinY 5s forwards;
            animation: icon-spinY 5s forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes icon-spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes icon-spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
