/* 
    Generic Animations

    Author: https://github.com/jxmot
    Repository: https://github.com/jxmot/github-feeds
*/
.icon-animate-spiny {
    -webkit-animation: icon-spinY 5s forwards;
            animation: icon-spinY 5s forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.icon-animate-stop {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

@-webkit-keyframes icon-spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes icon-spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.busy-spin {
    color: var(--feed-color);
    text-align: center;
    margin-top: 10rem;
}
.busy-spin span {
    vertical-align: center;
    font-size: 5rem;
}
.busy-spin span:nth-child(3) {
    vertical-align: center;
    font-size: 1rem;
    font-family: 'Courier New', monospace;
    font-style: italic;
}
